exporter:
  port: 9224
  metrics_path: /metrics

surrealdb:
  scheme: ws
  host: 192.168.1.161
  port:
  username: root
  password: SecurePassword123!
  timeout: 10s
  connection_pool: false

collectors:
  server_info:
    enabled: false
  metrics_demo:
    enabled: false
  go:
    enabled: false
  process:
    enabled: false

logging:
  format: json
  level: debug
  custom_attributes:
    application: surrealdb-prometheus-exporter
