exporter:
  port: 9224
  metrics_path: /metrics

surrealdb:
  uri: ws://192.168.1.161
  username: root
  password: SecurePassword123!
  namespace: test
  database: loadtest
  timeout: 10s

collectors:
  server_info:
    enabled: false
  metrics_demo:
    enabled: false
  go:
    enabled: false
  process:
    enabled: false

logging:
  format: json
  level: debug
  custom_attributes:
    application: surrealdb-prometheus-exporter
